<form [formGroup]="form" (submit)="send()">
    <h1 mat-dialog-title>Fill with data</h1>
    <div mat-dialog-content>
        <p>Please, fill the fields with following informations</p>
        <mat-form-field class="full-width">
            <mat-label>Recipient e-mail</mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field class="full-width">
            <mat-label>Your secret</mat-label>
            <input matInput formControlName="secret">
        </mat-form-field>

        <p>
            <mat-checkbox formControlName="save">Save data</mat-checkbox>
        </p>

    </div>
    <div mat-dialog-actions>
        <button type="submit" mat-raised-button>Ok</button>
        <button type="button" mat-button (click)="cancel()">Cancel</button>
    </div>
</form>