<mat-toolbar color="primary">
  <button (click)="drawer.toggle()" mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="nav-title" routerLink="/main/home">Email Management</a>
  <span class="spacer"></span>
  <button [routerLink]="'/main/home'" mat-icon-button aria-label="Home">
    <mat-icon>home</mat-icon>
  </button>
  <button (click)="authenticationService.logout()" mat-icon-button aria-label="Logout">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="main-sidenav" opened="true" mode="side">

    <mat-nav-list>

      <a mat-list-item routerLink="/main/home" routerLinkActive="active-link">
        <div class="text-wrapper">
          <mat-icon matListIcon>home</mat-icon>
          <span matLine>Home</span>
        </div>
      </a>

      <a mat-list-item routerLink="/main/template" routerLinkActive="active-link">
        <div class="text-wrapper">
          <mat-icon matListIcon>add</mat-icon>
          <span matLine>Add Template</span>
        </div>
      </a>

      <a mat-list-item routerLink="/main/mail" routerLinkActive="active-link">
        <div class="text-wrapper">
          <mat-icon matListIcon>add</mat-icon>
          <span matLine>Add Mail</span>
        </div>
      </a>
    
      <a mat-list-item (click)="authenticationService.logout()">
        <div class="text-wrapper">
          <mat-icon matListIcon>logout</mat-icon>
          <span matLine>Logout</span>
        </div>
      </a>
    </mat-nav-list>

  </mat-drawer>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>